<!-- 
<div>
  <h1>Formulaire</h1>
</div>
<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div>
    <input type="text" formControlName="firstName" />
  </div>
  <div>
    <input type="text" formControlName="lastName" />
  </div> -->
  <!-- <custom-field labelProps="custom Field" formControlName="customField"></custom-field> -->
  <!-- <quantity [quantity]="form.controls.quantity.value" (updateQuantity)='updateQuantity($event)'></quantity> -->
  <!-- <quantity formControlName="quantity"></quantity>
  <div>
    <button type="sumbit">Valider</button>
  </div>
</form> -->

<div #maDiv>
  <data></data>
</div>